.footer .info{
    background-color: #FC1506 !important;
    height: 80px;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 0px 0px 8px 8px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.footer .info img {
    width: 247px;
}