.listPeople button{
    width: 8%;
}

.containerPeople {
    width: 100%;
    justify-content: space-around;
}

.listPeople {
    justify-content: space-around;
}

.container {
    justify-content: space-around;
}

.image {
    width: 385px;
}

.table-responsive {
    width: 330px;
}

.btn-group-vertical {
    width: 100px;
    height: 100%;
    justify-content: space-around;
}

.tableContainer {
    width: 430px;
    justify-content: center;
    align-items: center;
}

.containerButtons {
    height: 300px;
    width: 100px;
    justify-content: space-around;
}

.btn-primary {
    height: 40px;
    background-color: #1f2c41d4;
}