<app-header></app-header>
<div class="container flex-column">
    <div class="logo">
        <img src="../../../../assets/Logo_STARAPP.png">
    </div>
    <div class="opcionsMenu">
        <div routerLink="/films" class="itemMenu flex-column">
            <img src="../../../assets/home/films.jpg">
            <label class="films">FILMS</label>
        </div>
        <div routerLink="/people" class="itemMenu flex-column">
            <img src="../../../assets/home/people.JPG">
            <label class="people">PEOPLE</label>
        </div>
        <div routerLink="/planets" class="itemMenu flex-column">
            <img src="../../../assets/home/planets.jpg">
            <label class="planets">PLANETS</label>
        </div>
        <div routerLink="/species" class="itemMenu flex-column">
            <img src="../../../assets/home/species.jpg">
            <label class="species">SPECIES</label>
        </div>
        <div routerLink="/starShips" class="itemMenu flex-column">
            <img src="../../../assets/home/starships.jpg">
            <label class="starships">STARSHIPS</label>
        </div>
        <div routerLink="/vehicles" class="itemMenu flex-column">
            <img src="../../../assets/home/vehicles.jpg">
            <label class="vehicles">VEHICLES</label>
        </div>
    </div>
</div>
<app-footer></app-footer>