<app-header></app-header>
    <div class="container flex-column">
        <div class="carouselImages flex-row">
            <div class="carouselItem"></div>
            <div class="carouselItem"></div>
            <div class="carouselItem"></div>
            <div class="carouselItem"></div>
            <div class="carouselItem"></div>
            <div class="carouselItem"></div>
            <div class="carouselItem"></div>
            <div class="carouselItem"></div>
            <div class="carouselItem"></div>
        </div>
        <div class="miniImages flex-row">
            <div class="miniImagesItem"></div>
            <div class="miniImagesItem"></div>
            <div class="miniImagesItem"></div>
            <div class="miniImagesItem"></div>
        </div>
    </div>
<app-footer></app-footer>
