<app-header></app-header>
<div class="container flex-row">
    <div class="planet flex-column">
        <div class="imagePlanet">
            <div class="picture">

            </div>
        </div>
        <div class="namePlanet flex-row">
            Nombre del planeta
        </div>
    </div>

    <div class="tablePlanet flex-column">
        <div class="infoTable">
            <table class="table table-sm table-bordered table-hover">
                <tbody>
                    <tr>
                        <td>Rotation Period</td>
                        <td>24</td>
                    </tr>
                    <tr>
                        <td>Orbital Period</td>
                        <td>364</td>
                    </tr>
                    <tr>
                        <td>Population</td>
                        <td>2.000'000.000</td>
                    </tr>
                    <tr>
                        <td>Surface Water</td>
                        <td>40%</td>
                    </tr>
                    <tr>
                        <td>Diameter</td>
                        <td>12.500</td>
                    </tr>
                    <tr>
                        <td>Climate</td>
                        <td>Temperate</td>
                    </tr>
                    <tr>
                        <td>Gravity</td>
                        <td>1 Standard</td>
                    </tr>
                    <tr>
                        <td>Terrain</td>
                        <td>Grasslands, Mountains</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="buttonsTable flex-row">
            <button routerLink="/films" class="btn btn-primary">Films</button>
            <button routerLink="/species" class="btn btn-primary">Residents</button>
        </div>
    </div>
</div>
<app-footer></app-footer>